/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
	color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
	height: 100%;
	background-color: #333;
}

body {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	color: #fff;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
	max-width: 42em;
}

@media (min-width: 48em) {
	.masthead-brand {
		float: left;
	}
	.nav-masthead {
		float: right;
	}
}

/*
 * Cover
 */
.cover {
	padding: 0 1.5rem;
}

.cover .btn-lg {
	padding: .75rem 1.25rem;
	font-weight: 700;
}

.alert {
	margin-top: 10px;
	background: inherit;
}

.alert, #permissions, #permissions-hint {
	display: none;
}

#permissions-hint {
	margin-top: 10px;
	margin-bottom: 10px;
}

.alert-danger {
	color: red;
}

.alert-success {
	color: green;
}

.form-control, .btn {
	background-color: #333;
	color: white;
	border: none;
}

.btn-container {
	width: 280px;
}
.btn-lg {
	border: 1px solid;
	display: block;
}

.cover-heading {
	margin-left: 70px;
}

.checkbox-container {
	text-align: left;
}

input {
	background: inherit;
	border: 1px solid white;
	color: white;
}

#get-user-data-result, #send-user-data-result {
	font-size: 9pt;
	font-weight: bold;
	padding: unset;
	text-align: left;
}

#send-user-data {
	margin-top: 20px;
}